[botdetection]

ipv4_prefix = 32
ipv6_prefix = 48

trusted_proxies = [
  '127.0.0.0/8',
  '::1',
]

[botdetection.ip_limit]

filter_link_local = false
link_token = false

[botdetection.ip_lists]

block_ip = []

# Allow local/private networks to avoid blocking local dev.
pass_ip = [
  '127.0.0.0/8',
  '10.0.0.0/8',
  '172.16.0.0/12',
  '192.168.0.0/16',
  'fd00::/8',
  'fe80::/10',
]

pass_searxng_org = true
